@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500&display=swap');

#packRoot {
	margin-left: 5rem;
	width: 60vw;
}

#packName {
	font-family: 'Lexend Exa', 'Inter', sans-serif;
	font-weight: 500;
}

#parentToolbar {
	pointer-events: none;
}

#bottomToolbar * {
	backdrop-filter: blur(20px) !important;
	background-color: rgba(255, 255, 255, 0.7);
	pointer-events: all;
}