@use 'sass:color';

$primary: #20fc8f;
$warning: #3f5e5a;
$danger: #38423b;
$light: #353831;
$success: #2d2d2a;

@import 'pre';

$theme-colors: map-merge(
	$theme-colors,
	(
		'primary': $primary,
		'warning': $warning,
		'danger': $danger,
		'light': $light,
		'success': $success,
	)
);

@import 'bootstrap';

body {
	background-color: color.scale(#242933, $lightness: -10%);
}

.card,
.pack,
.theme-fg-container {
	background-color: color.scale(#2e3440, $lightness: -10%);
	@extend .shadow;
	.card-body {
		border-radius: 10px;
	}
}

.theme-fg {
	background-color: color.scale(#2e3440, $lightness: -10%);
}

.card * {
	background-color: color.scale(#2e3440, $lightness: -10%);
}

.border {
	border-color: #3b4252 !important;
}

#navbar {
	background-color: color.scale(#2e3440, $lightness: 0%);
}

.nav-link.active {
    color: #000000 !important;
}