@use 'sass:color';

$primary: #006d77;
$warning: #83c5be;
$danger: #edf6f9;
$light: #ffddd2;
$success: #e29578;

@import 'pre';

$theme-colors: map-merge(
	$theme-colors,
	(
		'primary': $primary,
		'warning': $warning,
		'danger': $danger,
		'light': $light,
		'success': $success,
	)
);

@import 'bootstrap';

body {
	background-color: color.scale(#242933, $lightness: -20%);
}

.card,
.pack,
.theme-fg-container {
	background-color: color.scale(#2e3440, $lightness: -20%);
	@extend .shadow;
	.card-body {
		border-radius: 10px;
	}
}

.theme-fg {
	background-color: color.scale(#2e3440, $lightness: -20%);
}

.card * {
	background-color: color.scale(#2e3440, $lightness: -20%);
}

.border {
	border-color: #3b4252 !important;
}

#navbar {
	background-color: color.scale(#2e3440, $lightness: -20%);
}
